{:paths ["src" "resources"]
 :deps
 {io.millstrand/millstrand
  {:git/url "https://github.com/codethread/millstrand.git"
   :git/sha "34f940ddb2e69898554bf76251749715b250ae15"
   :deps/root "."}}
 :aliases
 {:test
  {:extra-paths ["test" "../../test"]
   :extra-deps {millhouse/workflow {:local/root "../workflow"}}
   :main-opts ["-m" "millhouse.test-runner" "millhouse.cron.runtime-test"]}}}
