{:paths ["src"]
 :deps {millhouse/auto-run {:local/root "../auto-run"}
        io.millstrand/batteries {:git/url "https://github.com/codethread/millstrand.git"
                                 :git/sha "34f940ddb2e69898554bf76251749715b250ae15"
                                 :deps/root "spools/batteries"}
        millhouse/workflow {:local/root "../workflow"}
        millhouse/identity {:local/root "../identity"}
        millhouse/kanban {:local/root "../kanban"}
        millhouse/land {:local/root "../land"}
        millhouse/harnesses {:local/root "../harnesses"}
        millhouse/devflow {:local/root "../devflow"}
        millhouse/devflow-kanban-adapter {:local/root "../devflow/kanban-adapter"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {io.millstrand/millstrand
                               {:git/url "https://github.com/codethread/millstrand.git"
                                :git/sha "34f940ddb2e69898554bf76251749715b250ae15"}}
                  :main-opts ["-m" "millhouse.config-test"]}
           :consumer-smoke
           {:extra-paths ["test"]
            :extra-deps {io.millstrand/millstrand
                         {:git/url "https://github.com/codethread/millstrand.git"
                          :git/sha "34f940ddb2e69898554bf76251749715b250ae15"}}
            :main-opts
            ["-m"
             "millhouse.config.shared-landing-consumer-smoke"]}}}
