{:paths ["src" "resources"]
 :deps {camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
        io.millstrand/millstrand
        {:git/url "https://github.com/codethread/millstrand.git"
         :git/sha "0f1762063b3b7e6fae7576c6025ec14c79cd314a"}
        millhouse/workflow {:local/root "../workflow"}}
 :aliases
 {:test {:extra-paths ["test"]
         :jvm-opts ["--enable-native-access=ALL-UNNAMED"]
         :main-opts ["-m" "millhouse.devflow-test"]}
  :equivalence-published {:extra-paths ["scripts" "kanban-adapter/src"]
                          :extra-deps {millhouse/kanban {:local/root "../kanban"}}
                          :jvm-opts ["--enable-native-access=ALL-UNNAMED"]
                          :main-opts ["-m" "millhouse.devflow-equivalence"]}
  :lint {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2026.08.04"}}
         :main-opts ["-m" "clj-kondo.main"]}}}
