{:spool/format 1
 :roots {millhouse/auto-review {:root "spools/auto-review"}
         millhouse/auto-run {:root "spools/auto-run"}
         millhouse/workflow {:root "spools/workflow"}
         millhouse/chime {:root "spools/chime"}
         millhouse/cron {:root "spools/cron"}
         millhouse/land {:root "spools/land"}
         millhouse/kanban {:root "spools/kanban"}
         millhouse/identity {:root "spools/identity"}
         millhouse/harnesses {:root "spools/harnesses"}
         millhouse/devflow {:root "spools/devflow"}
         millhouse/devflow-kanban-adapter {:root "spools/devflow/kanban-adapter"}
         millhouse/config {:root "spools/config"}}}
