{:paths ["src"]
 :deps
 {io.millstrand/millstrand
  {:git/url "https://github.com/codethread/millstrand.git"
   :git/sha "91361ef09eda4d09a24515a6ba3f99aa3090525a"}
  org.clojure/data.json {:mvn/version "2.5.1"}
  ct.spools/harnesses
  {:git/url "https://github.com/codethread/harnesses.spool.git"
   :git/sha "6b5ad39d8711a033dc7f33fd52c78901393ea44e"}
  millhouse.spools/kanban
  {:git/url "https://github.com/codethread/millhouse.spool.git"
   :git/sha "373238a56fbed90852e9fe8d90635d848c3faeea"
   :deps/root "spools/kanban"}
  millhouse.spools/workflow
  {:git/url "https://github.com/codethread/millhouse.spool.git"
   :git/sha "373238a56fbed90852e9fe8d90635d848c3faeea"
   :deps/root "spools/workflow"}
  millhouse.spools/land
  {:git/url "https://github.com/codethread/millhouse.spool.git"
   :git/sha "373238a56fbed90852e9fe8d90635d848c3faeea"
   :deps/root "spools/land"}}
 :aliases
 {:test
  {:extra-paths ["test" "../../test"]
   :jvm-opts ["--enable-native-access=ALL-UNNAMED"]
   :main-opts ["-m" "millhouse.test-runner" "millhouse.spools.auto-run-test"]}}}
