{:project-specs [{:project-path "deps.edn"
                  :classpath-cmd ["clojure" "-Srepro" "-A:millstrand:test" "-Spath"]}]
 :source-aliases #{:millstrand :test}
 :source-paths [".millstrand"
                "spools/chime/src"
                "spools/cron/src"
                "spools/workflow/src"
                "spools/code-executor/src"
                "spools/shell-executor/src"
                "spools/kanban/src"
                "spools/millstrand-workflows/src"
                "test"]
 :copy-kondo-configs? false}
