{:paths ["src" "resources"]
 :deps
 {io.millstrand/millstrand
  {:git/url "https://github.com/codethread/millstrand.git"
   :git/sha "09a2cad2ab4ee203051ed3cc66bb0a177105a979"
   :deps/root "."}
  millhouse.spools/kanban
  {:git/url "https://github.com/codethread/millhouse.spool.git"
   :git/sha "c66adcca2cdc05e38c789b802e6d34532af0d6cd"
   :deps/root "spools/kanban"}
  millhouse.spools/workflow
  {:git/url "https://github.com/codethread/millhouse.spool.git"
   :git/sha "c66adcca2cdc05e38c789b802e6d34532af0d6cd"
   :deps/root "spools/workflow"}}
 :aliases
 {:test
  {:extra-paths ["test" "../../test"]
   :extra-deps {org.clojure/data.json {:mvn/version "2.5.1"}}
   :jvm-opts ["--enable-native-access=ALL-UNNAMED"]
   :main-opts
   ["-m" "millhouse.test-runner"
    "millhouse.spools.land.merge-queue-test"
    "millhouse.spools.land.scripts-test"
    "millhouse.spools.land.workflow-test"]}}}
