{:deps
 {io.millstrand/batteries
  {:git/url "https://github.com/codethread/millstrand.git"
   :git/sha "91361ef09eda4d09a24515a6ba3f99aa3090525a"
   :deps/root "spools/batteries"}
  millhouse.spools/auto-run {:local/root "../spools/auto-run"}
  millhouse.spools/identity {:local/root "../spools/identity"}
  millhouse.spools/land {:local/root "../spools/land"}
  millhouse.spools/workflow {:local/root "../spools/workflow"}
  millhouse.spools/chime {:local/root "../spools/chime"}
  millhouse.spools/cron {:local/root "../spools/cron"}
  millhouse.spools/kanban {:local/root "../spools/kanban"}
  ct.spools/harnesses
  {:git/url "https://github.com/codethread/harnesses.spool.git"
   :git/sha "4ac638d679bc238fd8a373d52c3dbf2a7f682be0"
   :deps/root "."}
  codethread/devflow
  {:git/url "https://github.com/codethread/devflow.spool.git"
   :git/sha "3d880109f68e84e9c0d019e34d6ec434daf7c8d8"
   :deps/root "."}
  codethread/devflow-kanban-adapter
  {:git/url "https://github.com/codethread/devflow.spool.git"
   :git/sha "3d880109f68e84e9c0d019e34d6ec434daf7c8d8"
   :deps/root "kanban-adapter"}
  codethread/config
  {:git/url "https://github.com/codethread/codethread.spool.git"
   :git/sha "dc25ea43f7a271a435d62daf855a202d69a62b0c"
   :deps/root "spools/config"}
  codethread/ralph
  {:git/url "https://github.com/codethread/codethread.spool.git"
   :git/sha "dc25ea43f7a271a435d62daf855a202d69a62b0c"
   :deps/root "spools/ralph"}}
 :aliases {:test {:extra-paths ["test"]
                  :main-opts ["-m" "millhouse.auto-run-test"]}}}
