{:deps
 {millstrand.spools/batteries
  {:git/url "https://github.com/codethread/millstrand.git"
   :git/sha "310368dff9174bd889ad21d4ed8196952684eaf9"
   :deps/root "spools/batteries"}
  millhouse.spools/identity {:local/root "../spools/identity"}
  millhouse.spools/workflow {:local/root "../spools/workflow"}
  millhouse.spools/chime {:local/root "../spools/chime"}
  millhouse.spools/cron {:local/root "../spools/cron"}
  millhouse.spools/kanban {:local/root "../spools/kanban"}
  ct.spools/harnesses
  {:git/url "https://github.com/codethread/harnesses.spool.git"
   :git/sha "9548390ce621461ba0a289859fe9b0af963f5805"
   :deps/root "."}
  codethread/devflow
  {:git/url "https://github.com/codethread/devflow.spool.git"
   :git/sha "ceaa684499c6715ce0f10dba5806fd8ebef997da"
   :deps/root "."}
  codethread/devflow-kanban-adapter
  {:git/url "https://github.com/codethread/devflow.spool.git"
   :git/sha "ceaa684499c6715ce0f10dba5806fd8ebef997da"
   :deps/root "kanban-adapter"}
  codethread/config
  {:git/url "https://github.com/codethread/codethread.spool.git"
   :git/sha "0217f5e67ec6c23592a7df14641517706c900094"
   :deps/root "spools/config"}
  codethread/ralph
  {:git/url "https://github.com/codethread/codethread.spool.git"
   :git/sha "0217f5e67ec6c23592a7df14641517706c900094"
   :deps/root "spools/ralph"}}}
