{:paths ["src"]
 :deps
 {io.millstrand/millstrand
  {:git/url "https://github.com/codethread/millstrand.git"
   :git/sha "9e5fd206350dc42c87748ca41052863a512007a9"}
  org.clojure/data.json {:mvn/version "2.5.1"}}
 :aliases
 {:test
  {:extra-paths ["test" "../../test"]
   :jvm-opts ["--enable-native-access=ALL-UNNAMED"]
   :main-opts ["-m" "millhouse.test-runner" "millhouse.spools.auto-review-test"]}}}
