{:paths ["src"]
 :deps
 {io.millstrand/millstrand
  {:git/url "https://github.com/codethread/millstrand.git"
   :git/sha "34f940ddb2e69898554bf76251749715b250ae15"}
  org.clojure/data.json {:mvn/version "2.5.1"}
  millhouse.spools/workflow
  {:git/url "https://github.com/codethread/millhouse.spool.git"
   :git/sha "c66adcca2cdc05e38c789b802e6d34532af0d6cd"
   :deps/root "spools/workflow"}}
 :aliases
 {:test
  {:extra-paths ["test" "../../test"]
   :extra-deps {millhouse.spools/auto-run {:local/root "../auto-run"}
                millhouse.spools/cron {:local/root "../cron"}
                millhouse.spools/kanban {:local/root "../kanban"}
                millhouse.spools/land {:local/root "../land"}
                millhouse.spools/workflow {:local/root "../workflow"}}
   :jvm-opts ["--enable-native-access=ALL-UNNAMED"]
   :main-opts ["-m" "millhouse.test-runner" "millhouse.spools.auto-review-test"]}}}
