{:linters
 {:unresolved-var
  {:exclude
   [millhouse.spools.land/review
    millhouse.spools.land/land
    millhouse.spools.land/land-merge
    millhouse.spools.land/land-abort
    millhouse.spools.land.merge-queue/merge-queue
    millhouse.spools.land.merge-queue/merge-turn-stalled?
    millhouse.spools.land.merge-queue/merge-release-stalled?
    millhouse.spools.land.merge-queue/queue-handler
    millhouse.spools.land.queries/merge-lock
    millhouse.spools.land.queries/merge-queue]}}}
